@media screen and (max-width: 760px) {

    header, main {
        flex-direction: column;
    }

    #title h1 {
        text-align: center;
    }

    nav {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    nav a:last-child {
        padding: 5px;
    }

    aside {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    aside h2 {
        font-size: 34px;
    }

    aside p {
        font-size: 14px;
        max-width: 760px;
    }

    aside form {
        margin: 0 auto;
        width: 100%;
    }

    aside form input {
        width: 80%;
        align-self: center;
    }

    article img {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    nav a{
        margin: 0 5px;
    }

    aside {
        margin-left: 15px;
    }

    aside h2 {
        font-size: 40px;
        line-height: 1;
    }

    aside p {
        font-size: 14px;
    }

    aside form input {
        margin-top: 15px;
        height: 14px;
        padding: 10px;
        font-size: 14px;
    }
    
    aside form [type="submit"] {
        height: 40px;
    }

    article img {
        width: 90%;
    }
}

@media screen and (max-width: 1240px) {
    aside {
        margin-left: 15px;
    }

    aside h2 {
        font-size: 48px;
        line-height: 0.8;
    }

    article {
        display: grid;
        place-items: center;
        margin-right: 10px;
    }

    article img {
        width: 100%;
    }
}
